* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

#root {
  color: #333;
  font-family: cursive;
  font-size: 14px;
}


main {
  padding: 20px 0;
}