h2{
  text-align: center;
  padding: 20px 0 40px;
}


.allCheck_button,
.removeCheck_button,
.physical_delete_button,
.cancel_delete_button {
  width: 300px;
  margin: 30px 20px 0;
  padding: 10px 30px;
  border: none;

  font-size: 20px;
  font-weight: bold;

  outline: none;
  box-shadow: 4px 4px #aaa;
}
.allCheck_button:active,
.removeCheck_button:active,
.physical_delete_button:active,
.cancel_delete_button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}


.selectbox_label {
  display: block;
}

.select_label {
  width: 60px;
}
