.select_label {
  width: 60px;
}


.selectbox_label {
  display: block;
}


.multiple_button {
  width: 400px;
  margin: 30px 50px 0;
  padding: 10px 30px;
  border: none;

  font-size: 20px;
  font-weight: bold;

  outline: none;
  box-shadow: 4px 4px #aaa;
}
.multiple_button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}