header {
  background-color: #333;
}
header .header_contents {
  position: relative;
  width: 60%;
  height: 50px;
  margin: 0 auto;
  padding: 20px;
}
header .page_title {
  display: inline-block;
  line-height: 50px;
}
header .global_navi {
  display: inline-block;
  position: absolute;
  right: 0;
  line-height: 50px;
}
header .global_link {
  display: inline-block;
  width: 70px;
  margin: 0 5px;
  padding: 0 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  background-color: #555;
}
header .global_link:last-child {
  margin-right: 10px;
}
header .global_link:hover {
  background-color: #777;
}
header a {
  display: block;
  color: #fff;
}