.content {
  text-align: center;
  align-items: center;
}

.task_form {
  height: 40%;
  padding: 50px 100px;
  background-color: #555;
  color: #fff;
}
.task_form .form_item {
  text-align: left;
}
.task_form .form_item td:first-child {
  padding-right: 30px;
  line-height: 100%;
  text-align: right;
}
.task_form .form_item td:last-child {
  padding-left: 20px;
}
.task_form label {
  font-size: 18px;
  font-weight: bold;
}
.task_form .annotation {
  text-align: left;
}
.task_form .annotation p {
  padding-left: 20px;
}


.create_button {
  width: 400px;
  margin-top: 30px;
  padding: 10px 30px;
  border: none;

  font-size: 20px;
  font-weight: bold;

  outline: none;
  box-shadow: 4px 4px #aaa;
}
.create_button:active {
  transform: translate(4px, 4px);
  box-shadow: none;
}
