td {
  padding: 10px 0 5px;
}


.memo {
  padding: 0 10px;
  text-align: left;
}


.deadline_view {
  padding: 0 10px;
  text-align: left;
}


.done_button_box,
.delete_button_box {
  padding:0px 10px;
  width:60px;
}


.done_button,
.delete_button {
  width: 80%;
  font-size: 14px;
}


.delete_button {
  font-weight:bold;
}

.memo{
  width: 400px;
}

.memo_box{
  margin-left: 5px;
  padding-right: 5px;
}

.close_form_box{
  margin-right: 5px;
  margin-left: auto;
}

.open_form_box{
  margin-right: 5px;
  margin-left: 0px;
}

.memo_form_box{
  margin-left: 5px;
  width: 220px
}

.memo_setting_form{
  width: 100%;
}

.setting_form_box{
  margin-right: 10px;
  margin-left: auto;
}

.change_bottun{
  font-size: 14px;
  width: 62px;
}

.setting_bottun{
  font-size: 14px;
  padding:0px 5px;

}

.memo_setting_form{

}
