table {
  margin: 0 auto;
  font-size: 18px;
  width: 1200px;
}

th {
  padding: 15px 0;
}

tr{
  height: 50px;
}

.table_title {
  background-color: #555;
  color: #fff;
}

.title_label {
  width:400px;
}

.memo_label {
  width: 300px;
}

.status_label {
  width: 100px;
}

.deadline_label{
  width: 100px;
}

.expired {
  background-color: rgba(255, 0, 0, 0.2);
}
.expired .deadline_over{
  font-weight: bold;
  color:red;
}


.finished {
  background-color: rgba(0, 255, 0, 0.2);
}


.new {
  background-color: #fafafa;
}

td[id^="open"] {
   display: none;
   padding: 15px 0px 10px;
}

td[id^="close"] {
   display: flex;
   padding: 15px 0px 10px;
}
